<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<h2>Привет, я автор</h2>
<h3>Привет, я автор</h3>
<h4>Привет, я автор</h4>
<h5>Привет, я автор</h5>
<p>
  Тут я размещу информацию о себе используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>
<h5>А может и не напишу</h5>
<h4>А может и не напишу</h4>
<h3>А может и не напишу</h3>
<h2>А может и не напишу</h2>
<h1>А может и не напишу</h1>

{% endblock %}
