{# templates/posts/includes/posts_block.html #}
{% load thumbnail %}
{% comment %} {% for post in page_obj %} {% endcomment %}
<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
</article>  
{% if post.group.slug is None %}
  <br>
{% else %}
  <a href="{% url 'posts:group_posts' post.group.slug %}">
    все записи группы
  </a>
{% endif %} 
{% if not forloop.last %}<hr>{% endif %}
{% comment %} {% endfor %} {% endcomment %}
