<!-- templates/posts/follow.html --> 
{% extends 'base.html' %}
{% block title %}
  <title>
    Последние обновления на сайте
  </title>
{% endblock %} 
{% block content %}
  {% if user.is_authenticated %}
    <div class="container py-5"> 
      {% include 'posts/includes/switcher.html' %}
      {% if user.is_authenticated %}
        {% for post in page_obj %}
          {% include 'posts/includes/posts_block.html' %}
        {% endfor %} 
      {% endif %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  {% endif %}
{% endblock %} 
